body {
  background-color: #FFE6EB;
}

hr {
  border-style: none;
  border-top-style: dotted;;
  border-color: white;
  border-width: 5px;
  width: 5%;
}

img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
